.dcg-download-button {
  &.dcg-disabled {
    pointer-events: none;
  }

  &.dcg-blue-link {
    display: flex;
    align-items: center;
    margin-top: 5px;

    span {
      text-decoration: underline;
    }

    .dcg-icon-download {
      margin-right: 10px;
    }
  }
}
