.dcg-learn-more-link {
  display: inline-block;
  color: $medium-gray;
  text-decoration: none;
  padding: 5px;
  font-size: 85%;
  position: relative;
  top: 1px;
  &.dcg-hovered {
    color: $dark-gray;
  }
  &.dcg-active {
    color: $off-black-text;
  }
}
