.dcg-mq-container {
  position: relative;
  display: inline-block;

  //this is here explicitly for bluebook / the College Board
  //and especially reboot.scss, which adds a `sup: -0.5em;` rule
  sup.dcg-mq-nthroot {
    top: auto;
  }

  .dcg-mq-placeholder {
    @include mathquill-symbol-font();
    position: absolute;
    bottom: 3px;
    left: 0;
    //I don't know why we need an extra pixel here, maybe browser rounding, maybe borders, but otherwise a pixel can peek through :(
    right: 1px;
    font-size: 95%;
    pointer-events: none;
    padding-left: 2px;
    color: var(--dcg-custom-text-color, $placeholder-text);
    overflow: hidden;

    .dcg-mq-math-mode {
      font-size: inherit;
    }
  }
}

//rules for overflow being covered by fadeouts. should apply to every editable mathquill field

// Needs to have lower specificity than the rule in expression-view.scss
.dcg-container {
  .dcg-suffix-degree {
    .dcg-mq-root-block {
      &:after {
        content: '°';
        vertical-align: top;
        opacity: 0.6;
        margin-left: 1px;
      }
    }
  }
  .dcg-suffix-radian {
    .dcg-mq-root-block {
      &:after {
        content: 'rad';
        font-size: 90%;
        opacity: 0.6;
        margin-left: 3px;
      }
    }
  }

  .dcg-mq-editable-field:not(.dcg-no-fadeout) {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 7px;
      background: linear-gradient(
        to right,
        transparent,
        var(--dcg-custom-background-color, #fff)
      );
      pointer-events: none;
    }

    .dcg-mq-root-block {
      padding-right: 5px;
      &.dcg-mq-editing-overflow-left:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 7px;
        background: linear-gradient(
          to left,
          transparent,
          var(--dcg-custom-background-color, #fff)
        );
        pointer-events: none;
      }
    }
  }
}
