@mixin unpositioned-circle($r) {
  border-radius: $r + 1;
  width: 2 * $r;
  height: 2 * $r;
}

$thumb-radius: 11px;
$label-width: 47px;
$thumb-padding: 8px;
$extra-slider-label-padding: 15px;

.dcg-disable-slider {
  opacity: 0.3;
}
.dcg-slider-interior {
  flex: 1;
  position: relative;
  top: -4px;
  margin-left: 7px;
  margin-right: 7px;
  touch-action: none;
  .dcg-thumb {
    cursor: pointer;
    z-index: 3;
    border-radius: 8px;
    position: absolute;
    top: (-$thumb-padding);
    margin-left: -$thumb-radius - $thumb-padding;
    width: 2 * ($thumb-radius + $thumb-padding);
    height: 2 * ($thumb-radius + $thumb-padding);
    &:focus {
      outline: none;
      &:after {
        position: absolute;
        top: -4px;
        left: (-4px + $thumb-padding);
        content: '';
        pointer-events: none;
        border: 2px solid rgba($blue, 0.35);
        border-radius: 50%;
        width: 2 * ($thumb-radius + 2);
        height: 2 * ($thumb-radius + 2);
      }
    }
    .dcg-graphic {
      position: absolute;
      top: 0;
      left: $thumb-padding;
      @include unpositioned-circle($thumb-radius);
      background: var(--dcg-accent-color, $blue);
      opacity: 0.35;
    }

    .dcg-center {
      position: absolute;
      top: 0;
      left: $thumb-padding;
      @include unpositioned-circle($thumb-radius);
      background: var(--dcg-accent-color, $blue);
      transform: scale(0.25, 0.25);
      transition: transform 0.2s;
    }

    &.dcg-hovered,
    &.dcg-down {
      .dcg-center {
        transform: scale(1, 1);
      }
    }
  }

  .dcg-zeroMarker {
    position: absolute;
    top: 2px;
    z-index: 2;
    width: 2px;
    height: 2px;
    background: $transparent-medium-light-gray;
    border-radius: 2px;
  }

  .dcg-track {
    cursor: pointer;
    height: 22px;
    position: absolute;
    left: 0;
    right: 0;

    .dcg-ticks {
      position: absolute;
      top: 2px;
      bottom: 0;
      width: 100%;

      .dcg-tick {
        position: absolute;
        top: 0;
        width: 2px;
        height: 2px;
        background-color: #fff;
        margin-left: 0;
        z-index: 1;
        border-radius: 2px;
      }
    }

    .dcg-graphic {
      height: 6px;
      background-color: $transparent-light-gray;
      border-radius: 3px;
      margin-bottom: 6px;
      width: 100%;
    }
  }
}

.dcg-slider-container {
  .dcg-minLabel {
    padding: 10px ($thumb-radius - 7px) 10px 8px;
  }
  .dcg-maxLabel {
    padding: 10px 8px 10px ($thumb-radius - 7px);
  }

  .dcg-minLabel,
  .dcg-maxLabel {
    z-index: 4; // has to be above slider thumb
    color: var(--dcg-custom-text-color, $gray-text-on-white);
    margin: -10px 0; //offset padding, there for clickability
    min-width: 26px; //for very narrow slider limits (single digit)
    text-align: center;
    .dcg-mq-math-mode {
      font-family: arial, sans-serif;
      cursor: pointer;
      font-size: 80%;
      position: relative;
      top: -1px;
    }
    &.dcg-hovered {
      color: $off-black-text;
    }

    &.dcg-depressed {
      color: #000;
    }
  }
}
