$arrow-size: 12px;

// Arrow styles specifically
.dcg-dropdown-popover,
.dcg-add-inference-wizard {
  .dcg-arrow {
    @extend %popover-arrow-shared;
    border-width: var(--dcg-arrow-size, $arrow-size);
    transform-style: preserve-3d;

    &:after {
      border-width: var(--dcg-arrow-size, $arrow-size);
      transform: translateZ(
        -1px
      ); // Used as alternative to z-index to get above popover box-shadow
      scale: 1.07; // An approximation to get ~1px border on the arrow
    }
  }

  &.dcg-top .dcg-arrow {
    bottom: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    border-bottom-width: 0;
    border-top-color: var(--dcg-custom-background-color, #fff);

    &:after {
      border-bottom-width: 0;
      border-top-color: $border-gray;
      bottom: -1px;
      left: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    }
  }

  &.dcg-right .dcg-arrow {
    left: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    border-left-width: 0;
    border-right-color: var(--dcg-custom-background-color, #fff);

    &:after {
      border-left-width: 0;
      border-right-color: $border-gray;
      bottom: calc(-1 * var(--dcg-arrow-size, $arrow-size));
      left: -1px;
    }
  }

  &.dcg-bottom .dcg-arrow {
    top: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    border-top-width: 0;
    border-bottom-color: var(--dcg-custom-background-color, #fff);

    &:after {
      border-top-width: 0;
      border-bottom-color: $border-gray;
      top: -1px;
      left: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    }
  }

  &.dcg-left .dcg-arrow {
    right: calc(-1 * var(--dcg-arrow-size, $arrow-size));
    border-right-width: 0;
    border-left-color: var(--dcg-custom-background-color, #fff);

    &:after {
      border-right-width: 0;
      border-left-color: $border-gray;
      bottom: calc(-1 * var(--dcg-arrow-size, $arrow-size));
      right: -1px;
    }
  }
}
