$arrow-size: 14px;

.dcg-dropdown-popover {
  position: absolute;
  z-index: get-z-index(popover);
  margin: 1px;
  user-select: text;

  .dcg-popover-interior {
    @extend %popover-interior-shared;
    border: 1px solid $border-gray;
  }

  .dcg-popover-title {
    @extend %popover-title-shared;
  }
}

.dcg-dropdown-popover--with-arrow {
  margin: 0;
  &.dcg-top {
    margin-bottom: $arrow-size;
  }

  &.dcg-right {
    margin-left: $arrow-size;
  }

  &.dcg-bottom {
    margin-top: $arrow-size;
  }

  &.dcg-left {
    margin-right: $arrow-size;
  }
}

.dcg-dropdown-popover:not(.dcg-dropdown-popover--constrain-height) {
  &.dcg-left {
    right: 100%;
  }

  &.dcg-right {
    left: 100%;
  }

  &.dcg-top {
    bottom: 100%;
  }

  &.dcg-bottom {
    top: 100%;
  }
}

.dcg-dropdown-popover--constrain-height {
  top: ($header-height - 6px);
  bottom: 2px;
  right: 4px;
  pointer-events: none;

  .dcg-dropdown-popover__interior {
    max-height: 100%;
    pointer-events: auto;
  }
}

.dcg-dropdown-popover {
  .dcg-dropdown-popover__interior {
    @extend %popover-interior-shared;
    padding: 10px;
  }

  .dcg-dropdown-popover__title {
    @extend %popover-title-shared;
  }
}

.dcg-popover-with-anchor {
  position: relative;
  display: inline-block;
  margin: auto;
}
