.dcg-shared-options-dropdown {
  .dcg-dropdown-explanations {
    font-size: 80%;
    padding: 3px 7px;
    min-width: 190px;
    opacity: 0.7;

    .dcg-explanation {
      margin-bottom: 5px;
      a {
        color: $blue;
        white-space: nowrap;
        margin-bottom: 5px;
      }
    }
  }

  .dcg-dropdown-choice {
    padding: var(--dcg-dropdown-choice-vertical-padding, 7px) 7px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.dcg-standard-link-styling {
      color: $dark-gray;
      &.dcg-selected:not(.dcg-disabled),
      &.dcg-hovered:not(.dcg-disabled),
      &.dcg-depressed:not(.dcg-disabled) {
        color: #000;
      }
    }

    //all of these rules are copied over from the geo tool dropdown
    &.dcg-focus-visible:not([aria-disabled='true']),
    &.dcg-hovered:not([aria-disabled='true']) {
      background: $transparent-light-gray;
    }
    &.dcg-depressed:not([aria-disabled='true']) {
      background: $transparent-medium-light-gray;
    }
    &.dcg-selected:not([aria-disabled='true']) {
      background: #e0eafa;
    }

    &.dcg-hovered:not(.dcg-focus-visible) {
      box-shadow: none; // this should only show on focus-visible
    }
    //end rules that are copied over from geo tool dropdown

    &.dcg-disabled {
      opacity: 0.3;
      cursor: default;
      background: $transparent-light-gray;
    }

    .dcg-option-icon-container {
      display: inline-block;
      width: 20px;
      text-align: center;
      margin-right: 10px;

      .dcg-option-icon {
        font-size: 90%;
      }
    }

    .dcg-option-subtitle {
      display: block;
      margin-left: 30px;
      font-size: 80%;
      text-decoration: underline;
    }
  }
}
