.dcg-select-dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .dcg-mixed-text-math {
    pointer-events: none; // don't show mathquill cursor
  }

  .dcg-open-options {
    color: $medium-gray;

    &.dcg-hovered {
      color: $transparent-dark-gray;
    }

    &.dcg-depressed {
      color: $transparent-darker-gray;
    }
  }

  .dcg-dropdown-input {
    outline: none;
    width: 100%;
    border: 2px solid $transparent-border-gray;
    background: var(--dcg-custom-background-color, #fff);
    font-size: 0.875rem;
    color: var(--dcg-custom-text-color, $off-black-text);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &.dcg-results-hidden {
      border-radius: 5px;
    }

    &.dcg-hovered {
      border-color: $border-gray;
    }

    &.dcg-focus-visible {
      border-color: $blue;
    }
  }
  .dcg-options-dropdown__container {
    position: absolute;
    top: 100%;

    left: 0;
    //it's possible that one of the options could be wider than the parent option
    min-width: 100%;
    z-index: 2; //so it's over the buttons below
  }
  .dcg-options-dropdown__padded-bottom-container {
    padding-bottom: 50px;
  }
  .dcg-select-dropdown-list {
    //because of the border-top, which we need to show
    //in case one option is wider than the others
    margin-top: -1px;

    max-height: var(--dcg-select-dropdown-max-height, 500px);
    border: 1px solid $transparent-border-gray;
    border-radius: 0 0 5px 5px;
    background: var(--dcg-custom-background-color, #fff);
    text-align: left;
    // adds momentum scrolling
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
  }

  .dcg-dropdown-choice {
    padding: 7px 10px;
    font-size: 0.85rem;
  }
}
